### 1. Generate a list of squares from 1 to 20

**Explanation:** This creates a list of squares of numbers from 1 to 20 using list comprehension.

In [1]:
[x**2 for x in range(1, 21)]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

### 2. Generate a list of cubes from 1 to 10

**Explanation:** This generates a list of cubes of numbers from 1 to 10.

In [2]:
[x**3 for x in range(1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 3. Extract even numbers from 1 to 50

**Explanation:** Extracts only even numbers from 1 to 50 using an if condition.

In [3]:
[x for x in range(1, 51) if x % 2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

### 4. Extract odd numbers from 1 to 50

**Explanation:** Extracts only odd numbers from 1 to 50 using an if condition.

In [5]:
[x for x in range(1, 51) if x % 2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

### 5. Convert a list of Celsius temperatures to Fahrenheit

**Explanation:** Converts Celsius temperatures (0°C to 100°C in steps of 10) to Fahrenheit using formula: (C × 9/5) + 32.

In [6]:
[(c * 9/5) + 32 for c in range(0, 101, 10)]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0, 212.0]

### 6. Get the length of each word in a sentence

**Explanation:** Splits a sentence into words and calculates the length of each word.

In [ ]:
[len(word) for word in 'Python is awesome'.split()]

### 7. Create a list of first 10 multiples of 5

**Explanation:** Generates first 10 multiples of 5.

In [7]:
[x * 5 for x in range(1, 11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### 8. Reverse each word in a sentence

**Explanation:** Reverses each word in a given sentence.

In [8]:
[word[::-1] for word in 'Hello World Python'.split()]

['olleH', 'dlroW', 'nohtyP']

### 9. Extract vowels from a string

**Explanation:** Extracts vowels from a given string.

In [9]:
[ch for ch in 'List Comprehension in Python' if ch.lower() in 'aeiou']

['i', 'o', 'e', 'e', 'i', 'o', 'i', 'o']

### 10. Flatten a nested list

**Explanation:** Flattens a nested list (converts 2D list into a single list).

In [10]:
[num for sublist in [[1,2,3], [4,5,6], [7,8,9]] for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 11. Create a list of squares of only even numbers

**Explanation:** Creates a list of squares but only for even numbers.

In [11]:
[x**2 for x in range(1, 21) if x % 2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### 12. Convert a list of strings to uppercase

**Explanation:** Converts all words in a list to uppercase.

In [12]:
[word.upper() for word in ['python', 'java', 'c++']]

['PYTHON', 'JAVA', 'C++']

### 13. Generate a list of numbers divisible by 3 and 5

**Explanation:** Finds numbers between 1-100 that are divisible by both 3 and 5.

In [13]:
[x for x in range(1, 101) if x % 3 == 0 and x % 5 == 0]

[15, 30, 45, 60, 75, 90]

### 14. Generate a list of factorials from 1 to 5

**Explanation:** Generates a list of factorial values for numbers from 1 to 5.

In [22]:

def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)

factorials = [factorial(x) for x in range(1, 6)]
print(factorials)

[1, 2, 6, 24, 120]

### 15. Create a list of tuples with numbers and their squares

**Explanation:** Creates a list of tuples where each tuple contains a number and its square.

In [ ]:
[(x, x**2) for x in range(1, 11)]

### 16. Replace even numbers with 'Even' and odd with 'Odd'

**Explanation:** Replaces even numbers with 'Even' and odd numbers with 'Odd'.

In [23]:
['Even' if x % 2 == 0 else 'Odd' for x in range(1, 21)]

['Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

### 17. Generate a list of prime numbers up to 50

In [86]:
[x for x in range(2, 51) if all(x % i != 0 for i in range(2, int(x**0.5) + 1))]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

**Explanation:** Finds prime numbers up to 50 using the all() function.

In [87]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def prime_numbers_up_to(n):
    prime_list = []  # List to store prime numbers
    for num in range(2, n + 1):
        if is_prime(num):  # Check if number is prime
            prime_list.append(num)
    return prime_list

# Example usage:
print(prime_numbers_up_to(50))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 18. Find common elements in two lists

**Explanation:** Finds common elements between two lists.

In [ ]:
[x for x in [1, 2, 3, 4, 5] if x in [3, 4, 5, 6, 7]]

### 19. Generate a list of random integers

**Explanation:** Generates a list of random numbers using modulo operation.

In [85]:
[(x * 3) % 50 for x in range(1, 21)]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 1, 4, 7, 10]

### 20. Count occurrences of each letter in a string

**Explanation:** Counts occurrences of each letter in a string using dictionary comprehension.

In [71]:
{ch: 'hello world'.count(ch) for ch in set('hello world')}

{'l': 3, 'd': 1, ' ': 1, 'e': 1, 'r': 1, 'o': 2, 'w': 1, 'h': 1}

In [77]:
string="Hello World"
string=string.lower().split()

counts_char={}

for words in string:
    for i in words:
        if i in counts_char:
            counts_char[i]+=1
        else:
            counts_char[i]=1
    
print(counts_char)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}
1
1
3
2
1
1
1

### 21. Generate a list of words starting with 'P'

**Explanation:** Filters words that start with 'P' from a given list.

In [ ]:
[word for word in ['Python', 'Java', 'PHP', 'C++'] if word.startswith('P')]

### 22. Remove duplicates from a list

**Explanation:** Removes duplicate values from a list using set().

In [ ]:
list({x for x in [1, 2, 2, 3, 4, 4, 5]})

### 23. Create a dictionary of numbers and their squares

**Explanation:** Creates a dictionary mapping numbers to their squares.

In [ ]:
{x: x**2 for x in range(1, 11)}

### 24. Extract digits from a string

**Explanation:** Extracts digits from a string.

In [ ]:
[int(ch) for ch in 'a1b2c3d4' if ch.isdigit()]

### 25. Convert a list of numbers to strings

**Explanation:** Converts a list of numbers to their string representation.

In [ ]:
[str(x) for x in range(10)]

### 26. Get ASCII values of characters in a string

**Explanation:** Finds ASCII values for each character in a string.

In [ ]:
[ord(ch) for ch in 'Hello']

### 27. Create a list of booleans indicating if a number is even

**Explanation:** Creates a boolean list indicating whether each number is even.

In [68]:
[x % 2 == 0 for x in range(1, 11)]

[False, True, False, True, False, True, False, True, False, True]

In [70]:
# another way 
[True if x %2==0 else False for x in range(1,11)]

[False, True, False, True, False, True, False, True, False, True]

### 28. Create a matrix using list comprehension

**Explanation:** Generates a 3x3 matrix using nested list comprehension.

In [67]:
[[x+y for y in range(3)] for x in range(3)]

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

### 29. Extract uppercase letters from a string

**Explanation:** Extracts uppercase letters from a string.

In [66]:
[ch for ch in 'Hello Python' if ch.isupper()]

['H', 'P']

### 30. Generate Fibonacci series up to 10 terms

**Explanation:** Generates Fibonacci series up to 10 terms using lambda functions.

In [ ]:
[(lambda n: (n if n <= 1 else (lambda a, b: [a] + b(a + b, b))[0])(n))(i) for i in range(10)]

### 31. Generate a list of words with more than 3 letters

**Explanation:** Finds words with more than 3 letters in a sentence.

In [65]:
[word for word in 'The quick brown fox'.split() if len(word) > 3]

['quick', 'brown']

### 32. Check if numbers are perfect squares

**Explanation:** Checks if numbers up to 50 are perfect squares.

In [64]:
perfect_sq=[x if (x**0.5).is_integer() else None for x in range(1, 51)]
perfect_sq
# for printing all sq no 
# [num for num in perfect_sq if num != None]

[1,
 None,
 None,
 4,
 None,
 None,
 None,
 None,
 9,
 None,
 None,
 None,
 None,
 None,
 None,
 16,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 25,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 36,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 49,
 None]

### 33. Generate list of alternating 0s and 1s

**Explanation:** Generates a pattern of alternating 0s and 1s.

In [ ]:
[0 if x % 2 == 0 else 1 for x in range(10)]

### 34. Filter palindromes from a list

**Explanation:** Filters palindromes (words that read the same forward and backward).

In [55]:
[word for word in ['madam', 'racecar', 'python',"radar","filter","nun"] if word == word[::-1]]

['madam', 'racecar', 'radar', 'nun']

### 35. Find all substrings of a string

**Explanation:** Finds all substrings of a given string.

In [48]:
string="abc"
[string[i:j] for i in range(len(string)) for j in range(i+1, len(string)+1)]

['a', 'ab', 'abc', 'b', 'bc', 'c']

In [51]:
def generate_substrings(string):
    substrings = []  # Initialize an empty list to store substrings
    
    # Outer loop: Start index of substring
    for i in range(len(string)):
        # Inner loop: End index of substring (exclusive)
        for j in range(i+1, len(string) + 1):
            substrings.append(string[i:j])  # Append substring to the list
    
    return substrings

# Example usage:
string = "abc"
print(generate_substrings(string))

['a', 'ab', 'abc', 'b', 'bc', 'c']

### 36. Create a 3x3 identity matrix

**Explanation:** Creates a 3x3 identity matrix (diagonal elements are 1, others are 0).

In [25]:
[[1 if i == j else 0 for j in range(3)] for i in range(3)]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

### 37. Find perfect numbers up to 100

**Explanation:** Finds perfect numbers (numbers whose sum of divisors equals themselves).

In [22]:
[x for x in range(1, 101) if sum([i for i in range(1, x) if x % i == 0]) == x]

[6, 28]

In [24]:
def perfect_numbers(start, end):
    perfect_nums = []  # Store perfect numbers

    for x in range(start, end + 1):
        sum_of_divisors = 0  # Initialize sum of divisors

        # Find proper divisors and sum them
        for i in range(1, x):
            if x % i == 0:
                sum_of_divisors += i

        # Check if the number is perfect
        if sum_of_divisors == x:
            perfect_nums.append(x)

    return perfect_nums

# Example usage:
print(perfect_numbers(1, 1000))

[6, 28, 496]

In [41]:
def perfect_number(start,end):
    perfect_no=[]

    for x in range(start,end+1):

        sum_of_factors=0
        for i in range(1,x):
            if x%i==0:
                sum_of_factors+=i
        if sum_of_factors == x:
            perfect_no.append(x)
            
    return perfect_no
            
print(perfect_number(1,10000))

[6, 28, 496, 8128]

In [ ]:
100

for x in range(1,101):
      for i in range(1,x):
          if x%i==0:

### 38. Find factorial using list comprehension

**Explanation:** Computes factorials using list comprehension.

In [21]:
[1 if x == 0 else x * [1 if y == 0 else y for y in range(1, x+1)][-1] for x in range(6)]

[1, 1, 4, 9, 16, 25]

### 39. Count the frequency of each word in a sentence

**Explanation:** Counts the frequency of each word in a given sentence.

In [15]:
{word: 'hlw my name is Himanshu and what is your name'.split().count(word) for word in set('hlw my name is Himanshu and what is your name'.split())}

{'hlw': 1,
 'Himanshu': 1,
 'my': 1,
 'your': 1,
 'and': 1,
 'what': 1,
 'name': 2,
 'is': 2}

In [19]:
sentence = "hlw my Name is Himanshu and what is your name"

# Convert to lowercase and split into words
words = sentence.lower().split()

# Initialize an empty dictionary
word_count = {}

# Loop through each word and count occurrences
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{'hlw': 1, 'my': 1, 'name': 2, 'is': 2, 'himanshu': 1, 'and': 1, 'what': 1, 'your': 1}

### 40. Create a list of alternating signs

**Explanation:** Creates a list where odd numbers are negative, and even numbers remain the same.

In [20]:
[x if x % 2 == 0 else -x for x in range(1, 11)]

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

In [1]:
[ x if x%2==0 else -x for x in range(1,20) ]

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10, -11, 12, -13, 14, -15, 16, -17, 18, -19]