### Dictionary

1) Dictionary elements are stored in key:value pair format.<br>
2) Dictionary elements are enclosed in {} and are separated by comma<br>
3) Dictionary is ordered.<br>
4) All the keys in the dictionary must be unique. Values may be duplicate<br>
5) Dictionary is mutable (It can be changed)<br>
6) The key,value pair is called item in dictionary and each item is stored in form of tuple<br>

#### Empty Dictionary

In [ ]:
d1,d2 = {},dict()
print(d1,type(d1))
print(d2,type(d2))

{} <class 'dict'>
{} <class 'dict'>

#### Examples of Dictionary

In [ ]:
# key : Name, Age, City
# values : Harsh, 20, Mumbai
w1 = {'Name':'Harsh','Age':20,'City':'Mumbai'}
print(w1)
print(len(w1))  # each key:value pair is contributing +1 to the length
print(type(w1))

{'Name': 'Harsh', 'Age': 20, 'City': 'Mumbai'}
3
<class 'dict'>

#### Fetch values for a given key(Dictionary can be indexed based on its keys)

In [ ]:
# Keys = k1,k2,k3,k4,56,59
# values = 10,15...'SQL'
d1 =  {'k1':10,'k2':15,'k3':12,'k4':25, 56:'Python',59:'SQL'}
print(d1['k3'],d1['k1'])
print(d1['k4'])
print(d1[56])

12 10
25
Python

#### Note
1) How to add a new key:value pair to an existing dict<br>
2) Change value for a given key

In [ ]:
w = {'Name':'Harsh','Age':20,'City':'Mumbai'}
print(w)
# Change value for a given key
w['Name'] = 'Dhruv'
print(w)
# How to add a new key:value pair to an existing dict
w['Dept'] = 'IT'
print(w)

{'Name': 'Harsh', 'Age': 20, 'City': 'Mumbai'}
{'Name': 'Dhruv', 'Age': 20, 'City': 'Mumbai'}
{'Name': 'Dhruv', 'Age': 20, 'City': 'Mumbai', 'Dept': 'IT'}

#### All the keys in the dictionary must be unique. Values may be duplicate

In [ ]:
d2 = {'a1':10,'a2':30,'a1':45,'a4':'Python','a5':30}
print(d2)  # value retained in right to left order

{'a1': 45, 'a2': 30, 'a4': 'Python', 'a5': 30}


### Dictionary Methods/Functions

get,pop,popitem, keys,values,items, update, clear

#### 1) get()
Used to fetch value for a given key

In [ ]:
d1 =  {'k1':10,'k2':15,1024:12,'k4':25}
print(d1.get('k1'))
print(d1.get(1024))
print(d1.get('k4'))
print(d1.get('k7'))  # None
print(d1['k7'])     # err

10
12
25
None

KeyError: 'k7'

#### 2) pop(key)
Used to remove a key:value pair from the dict where key is passed as an argument

In [ ]:
d1 =  {'k1':10,'k2':15,'k3':12,'k4':25}
print(d1)
d1.pop('k2')
print(d1)
d1.pop('k4')
print(d1)
# d1.pop('K8')  # err
# d1.pop()  # err

{'k1': 10, 'k2': 15, 'k3': 12, 'k4': 25}
{'k1': 10, 'k3': 12, 'k4': 25}
{'k1': 10, 'k3': 12}

#### 3) popitem()
It is used to remove a key-value pair from the dict in LIFO(Last In First Out) order(right to left order)

In [ ]:
d1 =  {'k1':10,'k2':15,'k3':12,'k4':25}
print(d1)
d1.popitem()
print(d1)
d1.popitem()
print(d1)

{'k1': 10, 'k2': 15, 'k3': 12, 'k4': 25}
{'k1': 10, 'k2': 15, 'k3': 12}
{'k1': 10, 'k2': 15}

#### 4) clear()
Empties the dict

In [ ]:
d1 = {'a1':20,'a2':30}
print(d1)
d1.clear()
print(d1)

{'a1': 20, 'a2': 30}
{}

#### 5) update(dict)
Updates(performs union operation) a dictionary with other dictionary. Only one dict can be passed as an argument.

In [ ]:
w1 = {'g1':10,'g2':30,'g3':15}
w2 = {'g4':25,'g5':40,'g2':30,'g1':18}
print(w1)
print(w2)
w1.update(w2)
print(w1)
print(w2)

{'g1': 10, 'g2': 30, 'g3': 15}
{'g4': 25, 'g5': 40, 'g2': 30, 'g1': 18}
{'g1': 18, 'g2': 30, 'g3': 15, 'g4': 25, 'g5': 40}
{'g4': 25, 'g5': 40, 'g2': 30, 'g1': 18}

In [ ]:
w1 = {'g1':10,'g2':30,'g3':15}
w2 = {'g4':25,'g5':40,'g2':30,'g1':18}
print(w1)
print(w2)
w2.update(w1)
print(w1)
print(w2)

{'g1': 10, 'g2': 30, 'g3': 15}
{'g4': 25, 'g5': 40, 'g2': 30, 'g1': 18}
{'g1': 10, 'g2': 30, 'g3': 15}
{'g4': 25, 'g5': 40, 'g2': 30, 'g1': 10, 'g3': 15}

#### 6) setdefault()
Used to add a new key-value pair to the dictionary, with the default value of None

In [ ]:
d = {'h1':10,'h2':20,'h3':30}
print(d)
d.setdefault('Python')  # key added is Python, value added is None
print(d)

{'h1': 10, 'h2': 20, 'h3': 30}
{'h1': 10, 'h2': 20, 'h3': 30, 'Python': None}

In [ ]:
d = {'h1':10,'h2':20,'h3':30}
print(d)
d.setdefault('SQL','Joins') # key added is SQL, value added is Joins
print(d)

{'h1': 10, 'h2': 20, 'h3': 30}
{'h1': 10, 'h2': 20, 'h3': 30, 'SQL': 'Joins'}

#### 7,8,9) keys(),values(),items()

keys() - Returns keys of the dict<br>
values() - Returns values of the dict<br>
items() - Returns items(key:value) of the dict

In [ ]:
d1 = {'a1':5,'a2':10,'a3':7}
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a1', 'a2', 'a3'])
dict_values([5, 10, 7])
dict_items([('a1', 5), ('a2', 10), ('a3', 7)])

#### Iteration  in Dictionary

In [ ]:
# By default dict allows iteration only on its keys
d1 = {'a1':10,'a2':15,'a3':45}
for i in d1:  # i corresponds to each and every key of the dict
    print(i,d1[i],d1.get(i))

a1 10 10
a2 15 15
a3 45 45

In [ ]:
d1 = {'a1':10,'a2':15,'a3':45}
for i in d1.keys():
    print(i,d1[i],d1.get(i))

a1 10 10
a2 15 15
a3 45 45

In [2]:
d1 = {'a1':10,'a2':15,'a3':45}
for i in d1.values():  # i corresponds to each and every value of the dict
    print(i,end=' ')

10 15 45

In [ ]:
d1 = {'a1':10,'a2':15,'a3':45}
for i in d1.items():  # i corresponds to each and every item of the dict
    print(i)

('a1', 10)
('a2', 15)
('a3', 45)

In [ ]:
for k,v in d1.items():  # k=key, v=value
    print(v,k)

10 a1
15 a2
45 a3

In [11]:
#### Find the difference between max value and min value in dict.
# Also find corresponding keys for max value and min value
d = {'a1':20,'a2':45,'a3':40,'a4':7,'a5':32}
k = list(d.keys())
v = list(d.values())
print(k)
print(v)

['a1', 'a2', 'a3', 'a4', 'a5']
[20, 45, 40, 7, 32]

In [12]:
diff = max(v) - min(v)
print(diff)

38

In [18]:
max(v)
v.index(45)
k[v.index(max(v))]

'a2'

In [ ]:
max_val_idx,min_val_idx = v.index(max(v)), v.index(min(v))
max_val_val,min_val_val = max(v), min(v)
print(max_val_idx,min_val_idx)
print(max_val_val,min_val_val)
print('MaxValue_Key',k[max_val_idx],'MinValue_Key',k[min_val_idx])

1 3
45 7
MaxValue_Key a2 MinValue_Key a4

#### Dict keys cant be mutable data types (list,set, dict cant be used as keys)

In [ ]:
d1 = {'A1':10,11:12,4.5:'Hello',True:'Python',None:'SQL',(5,7):'Strings'}
print(d1)

{'A1': 10, 11: 12, 4.5: 'Hello', True: 'Python', None: 'SQL', (5, 7): 'Strings'}

In [ ]:
dictn = {'name':["vikas","amit","sumit"]}
d1[(5,7)]

'Strings'

In [ ]:
type(dictn)

dict

### Set
1) It is unordered collection of elements of same or different data types<br>
2) Set elements are represented in {} and are separated by comma<br>
3) Set does not support indexing or slicing (as it is unordered)<br>
4) Set does not allow duplicate elements<br>
5) Set is mutable(it can be changed)

#### Empty Set

In [ ]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [ ]:
s2 = {}
print(type(s2))

<class 'dict'>

#### Sets cant have duplicate elements

In [ ]:
s1 = {10,12,16,15,7,8,10,16,15,20,35}
print(s1)
print(type(s1))

{35, 7, 8, 10, 12, 15, 16, 20}
<class 'set'>

In [ ]:
# Remove duplicates from the list
w = [10,12,16,7,8,10,16,20,35]
w1 = list(set(w))
print(w1)
w1.sort(reverse=True)  # desc order
print(w1)

[35, 7, 8, 10, 12, 16, 20]
[35, 20, 16, 12, 10, 8, 7]

### Set Functions

union, intersection, difference, update, symmetric_difference

In [ ]:
s1 = {1,4,7,15,10}
s2 = {2,4,5,6,7,8,9,10}
print(s1.union(s2))          # combines all elements of s1 and s2

{1, 2, 4, 5, 6, 7, 8, 9, 10, 15}

In [ ]:
s1 = {1,4,7,15,10}
s2 = {2,4,5,6,7,8,9,10}
print(s1.intersection(s2))   # returns common elements from s1 and s2

{10, 4, 7}

In [ ]:
s1 = {1,4,7,15,10}
s2 = {2,4,5,6,7,8,9,10}
print(s1.difference(s2))     # returns elements from s1 which are not in s2
print(s2.difference(s1))     # returns elements from s2 which are not in s1

{1, 15}
{2, 5, 6, 8, 9}

In [ ]:
s1 = {1,4,7,15,10}
s2 = {2,4,5,6,7,8,9,10}
print('s1',s1)
print('s2',s2)
print(s1.symmetric_difference(s2))
# It Removes Common values from set
# difference between union and intersection

s1 {1, 4, 7, 10, 15}
s2 {2, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 5, 6, 8, 9, 15}

In [ ]:
s1 = {1,4,7,15,10}
s2 = {2,4,5,6,7,8,9,10}
print('s1',s1)
print('s2',s2)
s1.update(s2)       # updates s1 with union of s1 and s2
print('s1',s1)      # set is mutable

s1 {1, 4, 7, 10, 15}
s2 {2, 4, 5, 6, 7, 8, 9, 10}
s1 {1, 2, 4, 5, 6, 7, 8, 9, 10, 15}

#### clear, remove, add

In [ ]:
q1 = {10,13,20,30,25,32}
print(q1)
q1.add('Python')
print(q1)

{32, 20, 25, 10, 13, 30}
{32, 'Python', 20, 25, 10, 13, 30}

In [ ]:
q1 = {10,13,20,30,25,32}
q1.add(7.6)  # elements can be added anywhere as set is unordered
print(q1)

{32, 20, 7.6, 25, 10, 13, 30}

In [ ]:
q1 = {10,13,20,30,25,32}
q1.remove(30)  # removes the element
print(q1)
q1.clear()   # empties the set
print(q1)

#### Nested Data Types(Dict,List,tuple)

In [ ]:
w = [[10,13,(25,38,74,80),16,19],('Str','Python','Slicing','Indexing','List'),
    {'a1':4,'a2':14,'a3':[51,52,53,54,60,65,70],
     'a4':{'Name':['Amit','Karan','Piyush'],'City':['Delhi','Pune','Noida'],
          'Course':{'C1':('Python','DS','Tableau','Excel'),
                   'C2':('ML','DL','R','SQL')}}}]
print(type(w))
print(w)

<class 'list'>
[[10, 13, (25, 38, 74, 80), 16, 19], ('Str', 'Python', 'Slicing', 'Indexing', 'List'), {'a1': 4, 'a2': 14, 'a3': [51, 52, 53, 54, 60, 65, 70], 'a4': {'Name': ['Amit', 'Karan', 'Piyush'], 'City': ['Delhi', 'Pune', 'Noida'], 'Course': {'C1': ('Python', 'DS', 'Tableau', 'Excel'), 'C2': ('ML', 'DL', 'R', 'SQL')}}}]

In [ ]:
print(w[2]['a4']['Name'][2:3])

['Piyush']

In [ ]:
lts = ["vikas","amit","nitin","karan","mahesh","rajesh","rahul","Mohan"]
lts[2::2]

['nitin', 'mahesh', 'rahul']

In [ ]:
print(w[2]['a4']['City'][1:])
print(w[2]['a4']['Course']['C1'][::3])
print(w[2]['a4']['Course']['C2'][2::-1])

['Pune', 'Noida']
('Python', 'Excel')
('R', 'DL', 'ML')

In [ ]:
print(w[0][1])
print(w[0][2][::2])
print(w[1][2:4])
print(w[2]['a2'])
print(w[2].get('a2'))
print(w[2]['a3'][1::2])

13
(25, 74)
('Slicing', 'Indexing')
14
14
[52, 54, 65]

#### Exercise

Q1) Accept a num as user input. Find all its factors.<br>
Q2) Accept a num as user input. Check is num is prime.<br>
Q3) Accpet a string as user input<br>
a) Print string from left to right using positive index<br>
b) Print string from left to right using negative index<br>
c) Print string from right to left using positive index<br>
d) Print string from right to left using negative index<br>

Q4) Print words that start and end with same character. Find words that are palindromes<br>
words = ['radar','finite','school','radar','fortunate','racecar']

Q5) Print words that start and end with same character<br>
words = ['India','Australia','Europe','Argentina','Chile','Japan']

Q6) Accept a number. Find sum and product digits of a number<br>

Q7) Find factorial of a number<br>

In [ ]:
# Iterate - str, list, tuple, set, dict

w = [10,20,15,25,35,40]
# element wise iteration
for i in w:  # i is element of list
    print(i,end=' ')

10 20 15 25 35 40

In [ ]:
# Index wise iteration
for i in range(len(w)):  # i is the index
    print(i,w[i])

0 10
1 20
2 15
3 25
4 35
5 40

In [ ]:
w1 = {'a1':10,'a2':20,'a3':15}
# w1, w1.keys(), w1.value(), w1.items()
for i in w1:
    print(i,w1[i])  # i = keys, w1[i] = values

a1 10
a2 20
a3 15

### Comprehensions
1) It is short-hand syntax to create a list,set or dict


List Comprehension

Syntax
ex1 = [i for i in range(start,end,step)]

ex2 = [i for i in range(start,end,step) if condition]

ex3 = [i if con1 else something_else for i in range(start,end,step)]

Indentataion, colon and  assignment operators are not used inside comprehensions

In [ ]:
r1 = []
for i in range(10,20):  # start=10,end=20,step=+1
    r1.append(i)
print(r1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
r2 = [i for i in range(10,20)]   # list comprehension
print(r2)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

#### Using if in list comprehension

In [ ]:
r3 = []
for i in range(10,20):  # start=10,end=20,step=+1
    if i%3==0:
        r3.append(i)
print(r3)

[12, 15, 18]

In [ ]:
r4 = [i for i in range(10,20) if i%3==0]
print(r4)

[12, 15, 18]

#### if-else in list comprehension

In [ ]:
r5 = []
for i in range(10,20):  # start=10,end=20,step=+1
    if i%3==0:
        r5.append(i)
    else:
        r5.append(0)
print(r5)

[0, 0, 12, 0, 0, 15, 0, 0, 18, 0]

In [ ]:
r6 = [i if i%3==0 else 0 for i in range(10,20)]
print(r6)

[0, 0, 12, 0, 0, 15, 0, 0, 18, 0]

In [ ]:
r7 = []
for i in range(10,21):  # start=10,end=20,step=+1
    if i%3==0:
        r7.append(3)
    elif i%5==0:
        r7.append(50)
    else:
        r7.append(0)
print(r7)

[50, 0, 3, 0, 0, 3, 0, 0, 3, 0, 50]

In [ ]:
r8 = [3 if i%3==0 else (50 if i%5==0 else 0) for i in range(10,21)]
print(r8)

[50, 0, 3, 0, 0, 3, 0, 0, 3, 0, 50]

In [ ]:
s1 = [i**2 for i in range(1,5)]  # list comp
print(s1)
s2 = {i**2 for i in range(1,5)}  # set comp
print(s2)

[1, 4, 9, 16]
{16, 1, 4, 9}

#### Dict Comprehension

In [ ]:
d1 = {}  # emp dict
for i in range(1,6):  # i =1,2,3,4,5
    d1[i] = i**2
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
d2 = {i : i**2 for i in range(1,6)}
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
d3 = {i : i**2 for i in range(1,7) if i%3==0}
print(d3)

{3: 9, 6: 36}

In [ ]:
# Q4) Palindromes
words = ['radar','finite','school','madam','fortunate','racecar']

p = [i for i in words if i==i[::-1]]
print(p)

p1 = []
for i in words:
    if i==i[::-1]:
        p1.append(i)
print(p1)

['radar', 'madam', 'racecar']
['radar', 'madam', 'racecar']

In [22]:
words = ['radar','finite','school','madam','fortunate','racecar']
palindrome=[]
for i in words:
    if i==i[::-1]:
        palindrome.append(i)
print("the palindrome words are ",palindrome)

palindrome=[i for i in words if i==i[::-1]]
print(palindrome)

the palindrome words are  ['radar', 'madam', 'racecar']
['radar', 'madam', 'racecar']

In [ ]:
# Q5) Find words that start and end with same char
words = ['India','Australia','Europe','Argentina','Chile','Japan']

w1 = [i for i in words if i[0].lower()==i[-1].lower()]
print(w1)

w2 = [words[i] for i in range(len(words)) if words[i][0].lower() == words[i][-1].lower()]

# for i in range(len(words)) # index wise iteration
# for i in words element wise iteration
print(w1)
print(w2)

['Australia', 'Europe', 'Argentina']
['Australia', 'Europe', 'Argentina']
['Australia', 'Europe', 'Argentina']

In [ ]:
# Q6) Accept a number. Find sum and product digits of a number

In [ ]:
n = int(input())  # 1257
s = 0
p = 1
for i in range(len(str(n))):  # str(1257) = len('1257') = 4 => i = 0,1,2,3
    s += int(str(n)[i])
    p *= int(str(n)[i])
print('Sum',s,'Prod',p)

1257
Sum 15 Prod 70

In [ ]:
n = int(input())  # 1257
s,p = 0, 1
temp  = n
while temp > 0:
    rem = temp%10  # rem = remainder
    s += rem
    p *= rem
    temp //= 10
print('Sum',s,'Prod',p)
# temp = n = 1257
# S1 => temp>0 => T, rem=1257%10=7, s=0+7=7, p=1*7=7, temp=1257//10=125
# S2 => temp>0=> T, rem = 125%10=5,  s=7+5=12, p=7*5=35, temp=125//10= 12
# S3 => temp>0=> T, rem = 12%10=2,  s=12+2=14, p=35*2=70, temp=12//10= 1
# S4 => temp>0=> T, rem = 1%10=1,  s=14+1=15, p=70*1=70, temp=1//10= 0

8543
Sum 20 Prod 480

In [ ]:
# Q6) Factorial
# 5! = 5*4*3*2*1

In [ ]:
def fact(n):  # n = 5
    f = 1
    for i in range(n,0,-1):  # start=5,end=0,step=-1
        f = f*i
    print('Factorial of',n,'is',f)
# i = 1 , f = 1*1 = 1
# i = 2 , f = 1*2 = 2
# i = 3 , f = 2*3 = 6
# i = 4 , f = 6*4 = 24
# i = 5 , f = 24*5 = 120

In [ ]:
fact(5)

Factorial of 5 is 120