# For Loop

1) A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is "for". When the number of iterations is already known, the for loop is used.

2) The for loop is divided into two parts −

3) Header − This part specifies the iteration of the loop. In the header part, the loop variable is also declared, which tells the body which iteration is being executed.

5) Body − The body part contains the statement executed per iteration.

In [ ]:
for i in range(1,20):
    print(i**2,end = ' ')

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361

### Loop  => for, while

start, end, step => traverse => Iteration

Iteration = Traversing(move) over elemnets of a specified range.

In [ ]:
# start= 1,end=10,step=+1
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

1
2
3
4
5
6
7
8
9

### For Loops

In range(start,end,step) method
1) In ascending order, iteration proceeds from start till <b>end-1</b>, step size is positive<br>
2) In descending order, iteration proceeds from start till <b>end+1</b>, step size is negative<br>
3) Default step value = +1<br>
4) range() works only on int<br>
5) Default start value is 0.<br>
6) If only one values is present in range(), then it is end

In [ ]:
# print numbers from 1 to 5 using for loop
for abc in range(1,6):  # start=1,end=6,step=+1
    print(abc,end = ' ')

1 2 3 4 5

In [ ]:
for i in range(5):   # start=0,end=5,step=+1 => end-1
    print(i,end=' ')

0 1 2 3 4

In [ ]:
for i in range(20,50,3):  # start=20,end=50,step=+3
    print(i,end = ' ')

20 23 26 29 32 35 38 41 44 47

In [ ]:
for i in range(10,3,-1):  # start=10,end=3,step=-1  => desc order => end+1
    print(i,end=' ')

10 9 8 7 6 5 4

In [ ]:
str = "vikas kumar atray"
for i in str:
    print(i,end ='')

vikas kumar atray

In [ ]:
lts = {"vikas","amit",10,56,22.5,"raju"}
for i in lts:
    print(i)

amit
raju
22.5
56
10
vikas

In [ ]:
lts = [10,16,22,12,14,65,24,63,87]
for i in lts:
    if i%2==0:
        print(i,end = ' ')

10 16 22 12 14 24

In [ ]:
for i in range(100,311,30):
    print(i,end=' ')

100 130 160 190 220 250 280 310

In [ ]:
### Entities on which we can iterate
Strings,List,tuple,set,dict,range()

#### For loop on strings

In [ ]:
# Pos  0  1  2  3  4
# Str  T  O  D  A  Y
# neg -5 -4 -3 -2 -1

In [ ]:
# str, list, tuple
# 1) elmenets wise iteration
# 2) index wise iteration

In [ ]:
s = "Today"
print(s[0],s[1],s[2],s[3],s[4])  # pos index
print(s[-1],s[-2],s[-3],s[-4],s[-5]) # neg index

T o d a y
y a d o T

In [ ]:
s = "Today"
# Element wise Iteration
# i corresposnds to each and every element of string
for i in s:
    print(i)

T
o
d
a
y

In [ ]:
s = 'Today'
# Index wise Iteration
for i in range(len(s)):  # start=0, end=len(s) =5,step=+1 
    print(i,s[i])

0 T
1 o
2 d
3 a
4 y

In [ ]:
# Pos  0  1  2  3  4
# Str  T  O  D  A  Y
# neg -5 -4 -3 -2 -1

In [ ]:
# iterate str from left to right with neg index
s = "yadoT"
for i in range(-len(s),0):  # step = +1  => end-1
    print(i,s[i])

-5 y
-4 a
-3 d
-2 o
-1 T

In [ ]:
# Find sum of num from 1 to 10 using for loop
add = 0
for i in range(1,11):   # start=1,end=11,step=+1
    add += i            # add = add + i
print('Sum',add)
# add = 0
# i = 1 => add = 0 + 1 = 1
# i = 2 => add = 1 + 2 = 3
# i = 3 => add = 3 + 3 = 6
# i = 4 => add = 6 + 4 = 10
# ....

Sum 55

In [ ]:
# Find sum of all even numbers from 30 to 50
a = 0
for i in range(30,51): # start=30,end=51,step=+1
    if i%2==0 :
        a += i
        
print('Sum',a)

Sum 440

In [ ]:
a = 0
for i in range(30,51): # start=30,end=51,step=+1
    if i%2!=0 :
        a += i
print('Sum',a)

Sum 400

In [ ]:
lts = [x**2 for x in range(1,100) if x%2==0]
for i in lts:
    print(i,end =' ')

4 16 36 64 100 144 196 256 324 400 484 576 676 784 900 1024 1156 1296 1444 1600 1764 1936 2116 2304 2500 2704 2916 3136 3364 3600 3844 4096 4356 4624 4900 5184 5476 5776 6084 6400 6724 7056 7396 7744 8100 8464 8836 9216 9604

In [ ]:
a = 0
for i in range(1, 51):
    if i % 2 != 0:  # Check if the number is odd
        a = i-5
        print('odd value ',i,' -5 from odd value',a)

odd value  1  -5 from odd value -4
odd value  3  -5 from odd value -2
odd value  5  -5 from odd value 0
odd value  7  -5 from odd value 2
odd value  9  -5 from odd value 4
odd value  11  -5 from odd value 6
odd value  13  -5 from odd value 8
odd value  15  -5 from odd value 10
odd value  17  -5 from odd value 12
odd value  19  -5 from odd value 14
odd value  21  -5 from odd value 16
odd value  23  -5 from odd value 18
odd value  25  -5 from odd value 20
odd value  27  -5 from odd value 22
odd value  29  -5 from odd value 24
odd value  31  -5 from odd value 26
odd value  33  -5 from odd value 28
odd value  35  -5 from odd value 30
odd value  37  -5 from odd value 32
odd value  39  -5 from odd value 34
odd value  41  -5 from odd value 36
odd value  43  -5 from odd value 38
odd value  45  -5 from odd value 40
odd value  47  -5 from odd value 42
odd value  49  -5 from odd value 44

In [ ]:
lts = [10,20,30,40,50,60,70]
lts1 = ["python","java","c++",".net","Ruby","Mysql","PHP"]

In [ ]:
lt =[]
for i in lts:
    for j in lts1:
        print(i,j, end = ' ')

10 python 10 java 10 c++ 10 .net 10 Ruby 10 Mysql 10 PHP 20 python 20 java 20 c++ 20 .net 20 Ruby 20 Mysql 20 PHP 30 python 30 java 30 c++ 30 .net 30 Ruby 30 Mysql 30 PHP 40 python 40 java 40 c++ 40 .net 40 Ruby 40 Mysql 40 PHP 50 python 50 java 50 c++ 50 .net 50 Ruby 50 Mysql 50 PHP 60 python 60 java 60 c++ 60 .net 60 Ruby 60 Mysql 60 PHP 70 python 70 java 70 c++ 70 .net 70 Ruby 70 Mysql 70 PHP

In [ ]:
for i in range(1,5+1):
        print(i)

1
2
3
4
5

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(k-i,end = ' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
for i in range(10,3,-1):  # start=10,end=3,step=-1  => desc order => end+1
    print(i,end=' ')

In [ ]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

### While loop
A loop that runs a single statement or a set of statements for a given true condition. This loop is represented by the keyword "while". When the number of iterations is unknown, a while loop is used. The statement is repeated until the Boolean value is false. Because the condition is tested at the beginning of a while loop, it is also known as the pre-test loop.

In [ ]:
i = 0        # start
while i < 10 :   # end
    print(i,end=' ')
    i += 1  # step

0 1 2 3 4 5 6 7 8 9

In [ ]:
i = 0         # start
while i < 5 :   # end
    i += 1     # step
    print(i,end=' ')

1 2 3 4 5

In [ ]:
i = 20        # start=20
while i>=5:    # end=5
    i -= 2    # step = -2
    print(i,end=' ')
    #i -=2

18 16 14 12 10 8 6 4

In [ ]:
# Find sum of odd num between 20 to 35 using while loop
odd =  0
i = 20
while i<=35 :
    i =i+1
    if i%2!=0:
        print(i,end  = ' ')
        odd = odd + i
print('\nSum of odd',odd)

21 23 25 27 29 31 33 35
Sum of odd 224

In [ ]:
# iterate on string using while loop
# index based iteration 

w = "mobile"
i = 0   # start
while i < len(w):  #  end
    print(i,w[i]) 
    i += 1         #  step

0 m
1 o
2 b
3 i
4 l
5 e

In [ ]:
# for  
# a) range is used
# b) condition is not used at starting

# while 
# a) range is not used
# b) condition can be used at starting

#### Note
break - Returns the program control out of the loop<br>
continue - Returns the program control at the beginning of the loop

In [ ]:
for i in range(1,100):  # start=10,end=20,step=+1
    if i%5==0:  # 12 
        break
    else:
        print(i,end = ' ')  # 10, 11,

1 2 3 4

In [ ]:
for i in range(1,100):
    if i == 15:
        break
    else:
        print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [ ]:
a = "Imarticcus"
for i in a:
    if i =="c":
        break
    else:
        print(i,end = ' ')

I m a r t i

In [ ]:
i = 0
while i <= 10:
    i += 1
    if i%5==0 :
        break
    else:
        print(i,end = ' ')

1 2 3 4

In [ ]:
i = 1
while i <= 10:
    if i%5==0 :
        break
    else:
        print(i)
    i += 1

1
2
3
4

#### continue
Returns the program control at the beginning of the loop.<br>
If the condition is True, those value will be skipped.

In [ ]:
for i in range(10,20):  # start=10,end=20,step=+1
    if i%3==0:    # 12 
        continue
    else:
        print(i,end=' ')  # 10, 11,

10 11 13 14 16 17 19

In [ ]:
i = 10
while i < 20:
    i += 1
    if i%3==0:
        continue
    else:
        print(i,end=' ')

11 13 14 16 17 19 20

In [ ]:
x = 10

if x > 15:
    pass  # Placeholder for future logic
else:
    print(x)

10

In [ ]:
for i in range(10):
    if i == 3:
        pass
        print(i) # Skip this iteration for now
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# pass
i = 1
while i < 6:
    if i % 2 == 0:
        pass
        print(i)# Placeholder, does nothing for now
    else:
        print(i)  # Prints only odd numbers
    i += 1

1
2
3
4
5

In [ ]:
for i in range(1,10):
    if i%2==0:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

1. Write a Python program to find those numbers which are divisible by 7 and multiply of 5, between 1500 and 2700 (both included).


2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit

3. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, ... 59
ex) 
Expected Output :
Number of even numbers : 5
Number of odd num

4. Write a Python program to get the Fibonacci series between 0 and 50.
Note : The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, ....
Every next number is found by adding up the two numbers before it.
Expected Output : 1 1 2 3 5 8 13 2


5. Write a Python program to check the validity of passwords input by users.
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters.1 34bers : 4.




1. Write a program that takes an integer N and prints numbers from 1 to N using a while loop.
Sum of first N natural numbers

2. Write a program to find the sum of the first N natural numbers using a while loop.
Factorial of a number

3. Write a program to(10 to 50) Reverse a number using a while loop.


4. Write a program to reverse a given string( Python ) using a while loop .
Count the number of strings

5. Write a program to count the number of digits in a given number using a while loop.

6. Given a number, repeatedly sum its digits until you get a single-digit number using a while loop.

7. Write a program to calculate the sum of all even digits in a given number using a while loop.

In [1]:
# 1. Write a program that takes an integer N and prints numbers from 1 to N using a while loop.
# Sum of first N natural numbers

num=int(input("Enter the number"))
i=1
sum=0
while i<num+1:
    sum=sum+i
    i=i+1
    
print(sum)

Enter the number 5

15

In [8]:
#Write a program to find the sum of the first N natural numbers using a while loop. Factorial of a number
num=int(input("Enter the the number"))
i=1
fact=1
while i<num+1:
    fact=fact*i
    i=i+1

print(fact)

Enter the the number 5

120

In [13]:
i=50
while i >=10:
    print(i,end=" ")
    i=i-1

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10

In [26]:
str1="PYTHON"
length=len(str1)

for i in range(length ,0,-1):
    print(str1[i-1])

N
O
H
T
Y
P

In [35]:

# Write a program to count the number of digits in a given number using a while loop.
num=int(input("Enter the number"))
num=abs(num)
count=0
sum=0
if num==0:
   print(1)
   
else:
    while num>0:
      num//=10
      count+=1
print(count)

Enter the number 12345

5

In [18]:
#Given a number, repeatedly sum its digits until you get a single-digit number using a while loop.

num=int(input("Enter the number"))
num=abs(num)
count=0
sum=0
if num==0:
    sum==0
    print(sum)

else:
    while num>0:
           rem=num%10 # 123%10=3
           sum=sum+rem # sum=3
           num=int(num/10)
    print(sum)

Enter the number 2223

9

In [19]:
#Given a number, repeatedly sum its  even digits until you get a single-digit number using a while loop.
num=int(input("Enter the number"))
num=abs(num)
count=0
sum=0
if num==0:
    sum==0
    print(sum)

else:
    while num>0:
           rem=num%10 # 123%10=3
           if rem%2==0:
              sum=sum+rem # sum=3
           num=int(num/10)
    print(sum)

Enter the number 2223

6