In [2]:
n=int(input("Enter the number"))
if n%5==0:
    print(n,"Is div By 5")
else:
    print(n,"not div by 5")

Enter the number 5

5 Is div By 5

In [6]:
n=int(input("Enter the the age"))
edu=input("Enter the grad status")
if n < 18 and edu == "grad":
    print("person is not eligible ")
else:
    print("Person is eligible")

Enter the the age 40
Enter the grad status grad

Person is eligible

In [11]:
company=input("enter your company")
id=int(input("Enter your Id"))
password=int(input("Enter Password"))
dept=input("Enter your Department")

if company=="imarticus" and id==121 and password==2323 and dept=="IT":
    print("Login")
else:
    print("Check your credential")

enter your company 12
Enter your Id 21
Enter Password 556
Enter your Department 566

Check your credential

In [17]:
age=int(input("Enter your age"))
if(0<age<=3):
     print("No fare")
elif(3<age <5):
     print("bus fare is 15")
else:
    print("bus fare is 30")

Enter your age 20

bus fare is 30

In [22]:
list1=[122,53545,89979,12312]
username=input("Enter name")
password=int(input("enter password"))

if password in list1 and username=="Himanshu":
   print("Login")
else:
    print("Invalid credential ")

Enter name Himanshu
enter password 256545

Invalid credential

In [23]:
list2=[768455432342,577982143546,58769852,56662256222]
accountno=int(input("Enter account number"))

if accountno in list2:
    print("valid")
else:
    print("invalid")

Enter account number 7656631641

invalid

### ternary operator

In [24]:
x=int(input("Enter the value"))
res="even" if x%2==0 else "odd"
print(res)

Enter the value 21

odd

In [4]:
score= int(input("Enter the score "))
if score between 0 and 40:  
     print("Poor")
elif score between 41 and 60:  
     print("Average")
elif score between 61 and 80:  
     print("Good")
elif score between 81 and 90:  
     print("Excellemt")
elif score between 91 and 100:
     print("Outstanding")
else:
     print("invad Score")

SyntaxError: invalid syntax (3079249139.py, line 2)

In [ ]:
# list1=[]
number=int(input("Enter the size"))
for i in range (number):
     num = int(input(f"Enter the number {i}: "))
     list1.append(num)
maximum =list1.max()
minimum =list2.min()

print("the max is ",maximum,"/n The minimum is ", minimum)
print(maximum-minimum)

Enter the size 3
Enter the number 0:  5

In [14]:
x="virat"
y="kohli"
print(x[0],y[0],sep="_")

v_k

In [18]:
st=input("Enter the string")
print(len(st))

Enter the string Himashh @

9

In [25]:
S1="Hello"
S2="Hlw I am Himanshu"
print(S1.upper())
print(S2.lower())
print(S2.title())
print(S2.capitalize())
print(S1.swapcase())

HELLO
hlw i am himanshu
Hlw I Am Himanshu
Hlw i am himanshu
hELLO

In [27]:
S1="Hello"
S2=S1[0:2]+s1[2].upper()+S1[3]+S1[-1].upper()
print(S2)

HeLlO

In [31]:
print(S1.isupper())
print(S1.islower())
S3="HELLO"
print(S3.isupper())

False
False
True

### 1 ) isalpha() - only character or space is not in between words - True otherwise false (no special character)
### 2) isalnum() -only character or only number or combination of both -True otherwise false ->special condition ,space between words -False, (no special character)

### 3) isdigit() - all digit -True otherwise false
### 4) isspace() - all space -True otherwise false

In [38]:
W1="Delhi"
print(W1.isalpha())
print(W1.isalnum())
W2="125Hlw"
print(W2.isalnum())
w3="@#$123Num"
print(w3.isalnum())

True
True
True
False

In [40]:
print(W1.isdigit())

False

In [42]:
W="learning Python"
W.split()

['learning', 'Python']

In [ ]:
W.split("n")

In [ ]:
w2,w3="Hello Python","And SQL"

print(w2,w3,sep="-",end="@")

In [2]:
str1= "I am Himanshu"
for i in str1:
    print(i,end=" ")

I   a m   H i m a n s h u

In [3]:
list1=[11,52,85,98,46,88,54,24,65,66]
for i in list1:
    if i%2==0:
      print(i)

52
98
46
88
54
24
66

In [12]:
s="TODAY"
for i in range(0,len(s)):
    print(i,s[i])

0 T
1 O
2 D
3 A
4 Y

In [16]:
for i in range(1,20):
    sum+=i
print("sum",i)

sum 19

In [17]:
for i in range(1,20):
    if i%2==0:
     sum+=i
print("sum",i)

sum 19

In [21]:
list1 =[ (i**2), for i in range[1,20] ,i%2==0 ]
for i in list1:
    print(i)

SyntaxError: did you forget parentheses around the comprehension target? (249714684.py, line 1)